<template>
  <section class="container">
    <img src="~assets/img/logo.png" alt="Nuxt.js Logo" class="logo" />
    <h1 class="title">
      Megoldás
    </h1>
    <div> {{solution}} </div>
    <button @click="getSolution()"> Megoldás API hívás </button>
  </section>
</template>

<script>
import axios from '~/plugins/axios';

export default {
  head () {
    return {
      title: 'Megoldás'
    }
  },
  data () {
    return {
      solution: ''
    }
  },
  methods: {
    async getSolution () {
      try {
        this.solution = 'Töltődik a megoldás...';
        const response = await axios.get('/api/puzzle/solution');
        console.log(response.data);
        this.solution = response.data;
      } catch (error) {
        const errorMessage = 'Probléma a megoldás lekérése közben';
        console.error(errorMessage, error);
        this.solution = errorMessage;
      }
    }
  }
}
</script>

<style scoped>
.title
{
  margin: 30px 0;
}
.users
{
  list-style: none;
  margin: 0;
  padding: 0;
}
.user
{
  margin: 10px 0;
}
</style>
